<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相册</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lib/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/blogsheet.css">
</head>
<body>
    {{template "block/nav.html"}}
    <div id="main">
        <form method="post">
            <input type="file" id="album-upload-file" name="upload">
            <input type="button" id="album-upload-button" value="提交文件">
        </form>
        <div id="album-box">
            {{range .Album}}
                <div class="album-item" style='background-image: url("{{.Filepath}}");'></div>
            {{end}}
        </div>
    </div>

    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    {{/*<script src="../static/js/lib/jquery-url.js"></script>*/}}
    <script src="../static/js/blog.js"></script>
</body>
</html>